.header {
    padding-top: .5em;
    padding-bottom: .5em;
    border: 1px solid #646174;
    background-color: gainsboro;
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
    position: fixed;
    width: 100%;
    border-radius: 5px;
}

a {
    color: black;
    text-decoration:none
}

.post {
    text-align: center;
    background-color: gainsboro;
}

a:hover {
    background-color: gold;
}

.footer p{
    text-align: center;
    background-color:gainsboro;
}