.header {
    padding-top: .5em;
    padding-bottom: .5em;
    border: 1px solid #646174;
    background-color: gainsboro;
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
    position: fixed;
    width: 100%;
    border-radius: 5px;
}

a {
    color: black;
    text-decoration:none
}

.topnav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: gainsboro;
    padding: 1rem 2rem;
    border-radius: 15px;
}

.topnav .navlinks {
    display: flex;
    align-items: center;
    max-width: 150px;
    width: 5%;
    justify-content:space-between;
    position: sticky;
}

.topnav > p,a {
    font-weight: 500;
    font-size: 20px;
}

.post {
    text-align: justify;
    background-color: gainsboro;
    padding: 10px;
    margin: 5px auto;
    max-width: 800px;
    width: 60%;
    display: inline-block;
    border-radius: 15px;
}


div{
    font-family: "Gill Sans Extrabold", sans-serif
}

.post img {
    max-width:100%;
    max-height: 100%;
}


.footer .text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: gainsboro;
    padding: 1rem 2rem;
    border-radius: 15px;
    font-weight: 500;
    font-size: 20px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow: hidden;
    position: relative;
    width: 100%;
    bottom: 30px;
    }

    div ~ p {
        font-family: "Gill Sans Extrabold", sans-serif;
    }

    .container-left {
    width: 13%;
    position: absolute;
    bottom: 5px;
    background-color: gainsboro;
    border-radius: 15px;
    height:100%;
    }

    .container-right{
        width: 13%;
        position: absolute;
        right: 0;
        bottom: 5px;
        background-color: gainsboro;
        border-radius: 15px;
        height: 100%;
    }


  @media (max-width: 1150px) {
    .container-right {
        display: none;
    }

    .container-left {
        display: none;
    }
}

.poster {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: gainsboro;
    padding: 5px;
}

.post p {
    overflow-wrap: anywhere;
}

.left {
    display: flex;
    align-items: center;
}

.right {
    flex-grow: 1;
    text-align: right;
    margin-left: 10px;
}

.post .image {
    background-color:rgba(0, 0, 0, 0);
    align-items: center;
}

span {
    display: block; 
}






@media screen and (max-width: 760px) {
    .post {
        width: 100%;
        margin: 10px 0px 5px 5px;
    }
    .topnav {
        margin: 0px 0px 0px 0px;
    }

    body, html { overflow-x:hidden; }
    
}