.header {
    padding-top: .5em;
    padding-bottom: .5em;
    border: 1px solid #646174;
    background-color: #a2ccea;
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
    position: fixed;
    width: 100%;
    /* 
    -webkit-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);

    -webkit-box-shadow and -moz-box-shadow were browser-specific box-shadow implementations for
     WebKit browsers like Google Chrome and Safari, and mozilla firefox. Such prefixes are, usually
     used, when a new CSS feature appears and disappears when the feature is fully supported by 
     the browser.

     In short, concerning Vendor Prefixes (-webkit, -moz, etc.):  
       1- A new CSS feature appears;
       2- Browsers test the feature; 
       3- Browsers add a prefix to it to allow using it;
       4- There is no need for the prefix anymore when the feature is fully supported.
     */

    border-radius: 5px;
}