.content {
    text-align: left;
    display: block;

}

input[type="text"] {
    width: 200px;
    height:100px;
}

textarea{
    resize: none;
}


.bodyGroup {
    display: flex;
}

.selectfileGroup {
    display: flex;

}

.createpostButton {
    text-decoration-color: grey;
    text-align: center;
}

