.content {
    text-align: left;
    display: block;

}

input[type="text"] {
    width: 200px;
    height:100px;
}

textarea{
    margin-left: 40px;
    resize: none;
}


.bodyGroup {
    display: flex;
}

.choosefileButton{
    margin-left: 30px;
}

.selectfileGroup {
    margin-top: 40px;
    display: flex;

}

.createpostButton {
    margin-top: 30px;
    text-decoration-color: grey;
    text-align: center;
}

